.DS_Store
tech_task.md
cmd/server/config.yaml
cmd/server/data/
.vscode/launch.json
cmd/tui/config.yaml
cmd/tui/data/sample-0.mp3
cmd/tui/tui_client
cmd/server/server
.TODO
cmd/telegram-bot/config.yaml
cmd/server/log/
tests_task.md
cmd/telegram-bot/telegram_bot
test_case.md
